anyio==3.6.2
APScheduler==3.9.1.post1
arrow==1.2.3
asyncio==3.4.3
beautifulsoup4==4.11.1
binaryornot==0.4.4
bs4==0.0.1
certifi==2022.9.24
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
cookiecutter==1.7.3
fastapi==0.88.0
h11==0.14.0
httpcore==0.16.2
httptools==0.5.0
httpx==0.23.1
idna==3.4
Jinja2==3.1.2
jinja2-time==0.2.0
loguru==0.6.0
lxml==4.9.1
MarkupSafe==2.1.1
msgpack==1.0.4
multidict==6.0.3
nb-cli==0.6.7
nonebot-adapter-onebot==2.1.5
nonebot-plugin-apscheduler==0.2.0
nonebot2==2.0.0rc2
poyo==0.5.0
prompt-toolkit==3.0.33
pydantic==1.10.2
pyfiglet==0.8.post1
pygtrie==2.5.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-slugify==7.0.0
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.28.1
revChatGPT==0.0.25
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
soupsieve==2.3.2.post1
starlette==0.22.0
text-unidecode==1.3
tls-client==0.1.5
tomlkit==0.10.2
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.13
uvicorn==0.20.0
uvloop==0.17.0
watchfiles==0.18.1
wcwidth==0.2.5
websockets==10.4
yarl==1.8.2
anyio==3.6.2
certifi==2022.12.7
charset-normalizer==2.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.2
httpx==0.23.1
hyperframe==6.0.1
idna==3.4
OpenAIAuth==0.0.4
requests==2.28.1
revChatGPT==0.0.33.5
rfc3986==1.5.0
sniffio==1.3.0
tls-client==0.1.5
urllib3==1.26.13
anyio==3.6.2
arrow==1.2.3
binaryornot==0.4.4
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
cookiecutter==1.7.3
fastapi==0.88.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.2
httptools==0.5.0
httpx==0.23.1
hyperframe==6.0.1
idna==3.4
Jinja2==3.1.2
jinja2-time==0.2.0
loguru==0.6.0
MarkupSafe==2.1.1
multidict==6.0.3
nb-cli==0.6.8
nonebot2==2.0.0rc2
OpenAIAuth==0.0.4
poyo==0.5.0
prompt-toolkit==3.0.36
pydantic==1.10.2
pyfiglet==0.8.post1
pygtrie==2.5.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-slugify==7.0.0
PyYAML==6.0
requests==2.28.1
revChatGPT==0.0.33.5
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
starlette==0.22.0
text-unidecode==1.3
tls-client==0.1.5
tomlkit==0.11.6
typing_extensions==4.4.0
urllib3==1.26.13
uvicorn==0.20.0
uvloop==0.17.0
watchfiles==0.18.1
wcwidth==0.2.5
websockets==10.4
yarl==1.8.2
anyio==3.6.2
APScheduler==3.9.1.post1
arrow==1.2.3
binaryornot==0.4.4
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
cookiecutter==1.7.3
fastapi==0.88.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.2
httptools==0.5.0
httpx==0.23.1
hyperframe==6.0.1
idna==3.4
Jinja2==3.1.2
jinja2-time==0.2.0
loguru==0.6.0
MarkupSafe==2.1.1
msgpack==1.0.4
multidict==6.0.3
nb-cli==0.6.8
nonebot-adapter-onebot==2.1.5
nonebot-plugin-apscheduler==0.2.0
nonebot2==2.0.0rc2
OpenAIAuth==0.0.4
poyo==0.5.0
prompt-toolkit==3.0.36
pydantic==1.10.2
pyfiglet==0.8.post1
pygtrie==2.5.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-slugify==7.0.0
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.28.1
revChatGPT==0.0.33.5
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
starlette==0.22.0
text-unidecode==1.3
tls-client==0.1.5
tomlkit==0.11.6
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.13
uvicorn==0.20.0
uvloop==0.17.0
watchfiles==0.18.1
wcwidth==0.2.5
websockets==10.4
yarl==1.8.2
